.category-form {
    border: 1px solid;
}

.category-form dl {
    padding: 10px 10px;
}

.category-form .category-form__button-area {
    padding: 10px 0;
    text-align: center;
}

.category-form .category-form__button-area button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.category-form dl dd {
    padding: 0 10px;
}

.category-form dl dd input[type="text"] {
    width: 70%;
}

.category-form dl dd textarea {
    width: 100%;
}

.category-form .category-form__button-area button {
    border-radius: 3px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.category-form .category-form__button-area .category-form__button-submit {
    background-color: aquamarine;
    border: 1px solid aquamarine;
}

.category-form .category-form__button-area .category-form__button-back {
    background-color: pink;
    border: 1px solid pink;
}

.category-form dl dd.error {
    color: red;
}

.category-form dl.error{
    background-color: pink;
}
